* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 900px;
    display: flex;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.login-section {
    flex: 1;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-section h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #222;
}

.login-section p {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}

.input-box {
    margin-bottom: 20px;
}

.input-box label {
    font-size: 14px;
    color: #444;
    display: block;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #666;
    margin-bottom: 25px;
}

.options a {
    color: #e44;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    background-color: #4f5df4;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #3c4be1;
}

.signup-text {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

.signup-text a {
    color: #4f5df4;
    text-decoration: none;
    font-weight: 500;
}

.signup-text a:hover {
    text-decoration: underline;
}

.illustration {
    flex: 1;
    background-color: #f9f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.illustration img {
    width: 90%;
    max-width: 350px;
}

@media (max-width: 768px) {
    .container {
    flex-direction: column;
    width: 90%;
    }
    .illustration {
    display: none;
    }
}